* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #191c32;
}


/* Style of the navigator */
header {
    width: 100%;
    padding: 40px;   
    color: white;
    text-align: center;
    background: #191c32;
}

nav ul {
    list-style: none;
    background: #164884;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
}

ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background: #112d4e;
}

.hide {
    font-size: 22px;
    padding: 16px;
    background-color: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
}
/*End Style of the navigator */

/* Style of the main */

.main-content{
    margin: 0 auto;
    width: 80vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.title1 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
}

.text {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
}

.download-cv {
    padding: 10px 20px;
    background: #164884;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}