ul li{
    width: 100%;
    padding: 16px;
    text-align: left;
}

.hide {
    display: block;
}

nav ul {
    display: none;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column-2.image{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.column-1 {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;

}