ul li{
    width: 100%;
    padding: 16px;
    text-align: left;
}

.hide {
    display: block;
}

nav ul {
    display: none;
}

.main-content .container.grid-2 .column-1 {
    align-items: center;
    justify-content: center;
}