ul li{
    width: 100%;
    padding: 16px;
    text-align: left;
}

.hide {
    display: block;
}

nav ul {
    display: none;
}

.column-2.image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.column-1{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-width: 150px;
    height: 150px;
}